body{

    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}   

.menu{
margin: 0;
padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(20, 106, 212);
    justify-content: center;
}


.menu-btn{
    border:none;
    background-color: inherit;
    padding: 14px 16px;
    color: #fff;


}

 #menu-btn:hover{
    background-color: #ddd;
    cursor: pointer;
}


.card{
    border: 2px solid #444;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10rem;
    width: 10rem;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.82);
}
.card-image{
    border: 1px solid #000;
    height: 40%;
    width: 80%;
    margin: 3px;

}

.card-title{
    font-size: 1.2rem;
    font-weight: 600;
    margin: 3px;

}